// **************** NanaZip Modification Start ****************
//#include "../../MyVersionInfo.rc"
// **************** NanaZip Modification Start ****************

// **************** NanaZip Modification Start ****************
//MY_VERSION_INFO_APP("7z Console SFX", "7z.sfx")
// **************** NanaZip Modification End ****************

// **************** NanaZip Modification Start ****************
//IDI_ICON ICON "7z.ico"
101 ICON "../../../../../../Assets/NanaZipPreviewSfx.ico"
// **************** NanaZip Modification End ****************

// **************** NanaZip Modification Start ****************
//#ifndef UNDER_CE
//1  24  MOVEABLE PURE   "../../UI/Console/Console.manifest"
//#endif
// **************** NanaZip Modification End ****************
