#include "resource2.rc"
#include "resource3.rc"

#include "../FileManager/resourceGui.rc"

IDI_ICON ICON "../../../../../Assets/NanaZip.ico"

#include "../FileManager/PropertyName.rc"
#include "../FileManager/OverwriteDialog.rc"
#include "../FileManager/PasswordDialog.rc"
#include "../FileManager/ProgressDialog2.rc"
#include "Extract.rc"
#include "../FileManager/BrowseDialog.rc"
#include "../FileManager/ComboDialog.rc"
#include "../FileManager/EditDialog.rc"
#include "../FileManager/ListViewDialog.rc"
