.store-badge-link img.large {
    height: 104px;
}

.store-badge-link img {
    display: block;
    transition: 0.35s ease;
}

.store-badge-link img:hover {
    transform: translate(0, -4px);
    cursor: pointer;
    box-shadow: 0 12px 40px 20px rgba(0, 0, 0, 0.05);
}

iframe {
    border: none;
    width: 0;
    height: 0;
}

ms-store-badge::part(img), .store-badge-link img {
    max-width: 100%;
    min-width: 200px;
}

ms-store-badge, .store-badge-link {
    display: block;
    width: fit-content;
    line-height: 0;
}