<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="M2Team.NanaZip"
    Publisher="CN=M2-Team, O=M2-Team, C=CN"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>NanaZip</DisplayName>
    <PublisherDisplayName>M2-Team</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="NanaZip"
        Description="NanaZip"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="archivetypes">
            <uap:Logo>Images\StoreLogo.png</uap:Logo>
            <uap:DisplayName>NanaZip Archive</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.001</uap:FileType>
              <uap:FileType>.7z</uap:FileType>
              <uap:FileType>.arj</uap:FileType>
              <uap:FileType>.bz2</uap:FileType>
              <uap:FileType>.bzip2</uap:FileType>
              <uap:FileType>.cab</uap:FileType>
              <uap:FileType>.cpio</uap:FileType>
              <uap:FileType>.deb</uap:FileType>
              <uap:FileType>.dmg</uap:FileType>
              <uap:FileType>.esd</uap:FileType>
              <uap:FileType>.fat</uap:FileType>
              <uap:FileType>.gz</uap:FileType>
              <uap:FileType>.gzip</uap:FileType>
              <uap:FileType>.hfs</uap:FileType>
              <uap:FileType>.iso</uap:FileType>
              <uap:FileType>.lha</uap:FileType>
              <uap:FileType>.lzh</uap:FileType>
              <uap:FileType>.lzma</uap:FileType>
              <uap:FileType>.ntfs</uap:FileType>
              <uap:FileType>.rar</uap:FileType>
              <uap:FileType>.rpm</uap:FileType>
              <uap:FileType>.squashfs</uap:FileType>
              <uap:FileType>.swm</uap:FileType>
              <uap:FileType>.tar</uap:FileType>
              <uap:FileType>.taz</uap:FileType>
              <uap:FileType>.tbz</uap:FileType>
              <uap:FileType>.tbz2</uap:FileType>
              <uap:FileType>.tgz</uap:FileType>
              <uap:FileType>.tpz</uap:FileType>
              <uap:FileType>.txz</uap:FileType>
              <uap:FileType>.vhd</uap:FileType>
              <uap:FileType>.wim</uap:FileType>
              <uap:FileType>.xar</uap:FileType>
              <uap:FileType>.xz</uap:FileType>
              <uap:FileType>.z</uap:FileType>
              <uap:FileType>.zip</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
