#include "resource.h"

IDI_ICON  ICON "../../../../../Assets/NanaZipPreviewSfx.ico"

STRINGTABLE
BEGIN
  IDS_EXTRACTION_ERROR_TITLE  "Extraction Failed"
  IDS_EXTRACTION_ERROR_MESSAGE  "File is corrupt"
  IDS_CANNOT_CREATE_FOLDER  "Cannot create folder '{0}'"
  IDS_PROGRESS_EXTRACTING  "Extracting"
END

#include "../../UI/FileManager/ProgressDialog.rc"
