---
import "./Navbar.scss";
import { Image } from "astro:assets";
import Logo from "../../assets/images/NanaZip.svg";
---

<header class="navbar">
    <a class="btn btn-accent skip-to-content" href="#main">Skip to main content</a>
    <a class="logo" href="/">
        <Image src={Logo} alt="" height="40" loading="eager" />
        <span>NanaZip</span>
    </a>
    <button title="Menu" aria-label="Menu" class="menu-button">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20" viewBox="103 297 820 564" width="20" fill="currentColor">
            <path d="M102.4,321.536C102.4,314.709 104.789,308.907 109.568,304.128C114.347,299.349 120.149,296.96 126.976,296.96L897.024,296.96C903.851,296.96 909.653,299.349 914.432,304.128C919.211,308.907 921.6,315.051 921.6,322.56C921.6,330.069 919.211,336.213 914.432,340.992C909.653,345.771 903.851,348.16 897.024,348.16L129.024,348.16C120.832,348.16 114.347,345.771 109.568,340.992C104.789,336.213 102.4,330.411 102.4,323.584ZM102.4,577.536C102.4,570.709 104.789,564.907 109.568,560.128C114.347,555.349 120.149,552.96 126.976,552.96L897.024,552.96C903.851,552.96 909.653,555.349 914.432,560.128C919.211,564.907 921.6,571.051 921.6,578.56C921.6,586.069 919.211,592.213 914.432,596.992C909.653,601.771 903.851,604.16 897.024,604.16L129.024,604.16C120.832,604.16 114.347,601.771 109.568,596.992C104.789,592.213 102.4,586.411 102.4,579.584ZM129.024,808.96C120.832,808.96 114.347,811.349 109.568,816.128C104.789,820.907 102.4,827.051 102.4,834.56C102.4,842.069 104.789,848.213 109.568,852.992C114.347,857.771 120.832,860.16 129.024,860.16L897.024,860.16C903.851,860.16 909.653,857.771 914.432,852.992C919.211,848.213 921.6,842.069 921.6,834.56C921.6,827.051 919.211,820.907 914.432,816.128C909.653,811.349 903.851,808.96 897.024,808.96Z" />
        </svg>
    </button>
    <nav>
        <div class="nav-items">
            <a class="btn" href="/">
                <span class="icon icon-home"></span>
                <span>Home</span>
            </a>
            <a class="btn" href="/downloads">
                <span class="icon icon-download"></span>
                <span>Downloads</span>
            </a>
        </div>
        <a
            class="btn icon-button"
            title="GitHub repository"
            aria-label="GitHub repository"
            href="https://github.com/M2Team/NanaZip"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 98 96"
                fill="currentColor"
            >
                <g clip-path="url(#clip0_730_27126)">
                    <path
                        d="M41.4395 69.3848C28.8066 67.8535 19.9062 58.7617 19.9062 46.9902C19.9062 42.2051 21.6289 37.0371 24.5 33.5918C23.2559 30.4336 23.4473 23.7344 24.8828 20.959C28.7109 20.4805 33.8789 22.4902 36.9414 25.2656C40.5781 24.1172 44.4062 23.543 49.0957 23.543C53.7852 23.543 57.6133 24.1172 61.0586 25.1699C64.0254 22.4902 69.2891 20.4805 73.1172 20.959C74.457 23.543 74.6484 30.2422 73.4043 33.4961C76.4668 37.1328 78.0937 42.0137 78.0937 46.9902C78.0937 58.7617 69.1934 67.6621 56.3691 69.2891C59.623 71.3945 61.8242 75.9883 61.8242 81.252L61.8242 91.2051C61.8242 94.0762 64.2168 95.7031 67.0879 94.5547C84.4102 87.9512 98 70.6289 98 49.1914C98 22.1074 75.9883 6.69539e-07 48.9043 4.309e-07C21.8203 1.92261e-07 -1.9479e-07 22.1074 -4.3343e-07 49.1914C-6.20631e-07 70.4375 13.4941 88.0469 31.6777 94.6504C34.2617 95.6074 36.75 93.8848 36.75 91.3008L36.75 83.6445C35.4102 84.2188 33.6875 84.6016 32.1562 84.6016C25.8398 84.6016 22.1074 81.1563 19.4277 74.7441C18.375 72.1602 17.2266 70.6289 15.0254 70.3418C13.877 70.2461 13.4941 69.7676 13.4941 69.1934C13.4941 68.0449 15.4082 67.1836 17.3223 67.1836C20.0977 67.1836 22.4902 68.9063 24.9785 72.4473C26.8926 75.2227 28.9023 76.4668 31.2949 76.4668C33.6875 76.4668 35.2187 75.6055 37.4199 73.4043C39.0469 71.7773 40.291 70.3418 41.4395 69.3848Z"
                    ></path>
                </g>
                <defs>
                    <clipPath id="clip0_730_27126">
                        <rect width="98" height="96" fill="white"></rect>
                    </clipPath>
                </defs>
            </svg>

            <span>GitHub repository</span>
        </a>
    </nav>
</header>

<script src="./Navbar.ts" />