body {
	background-color: var(--fds-solid-background-base);
	color: var(--fds-text-primary);
    font-family: var(--fds-font-family-text);
    font-size: var(--fds-body-font-size);
    line-height: 20px;

    margin: 0;
    padding: 0;

    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
}

main article {
    max-width: 800px;
    margin: 40px 16px 0 16px;
    align-self: center;
}

html {
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}