---
import './Footer.css';
---

<footer>
    <p>NanaZip, with ❤️ by <a href="https://m2team.org">M2-Team</a> and contributors.</p>
    <p>
        Note: NanaZip.org is the only official website for NanaZip.
        Any other websites claiming to be NanaZip are fake.
        We are not responsible for content on those websites.
    </p>
</footer>